body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1133px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:637px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:13px;
  width:1090px;
  height:637px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:310px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1089px;
  height:170px;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:687px;
  width:1089px;
  height:170px;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:77px;
  width:1085px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1093px;
  height:149px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:898px;
  width:1093px;
  height:149px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:66px;
  width:1089px;
  visibility:hidden;
  word-wrap:break-word;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:930px;
  top:587px;
  width:170px;
  height:53px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u139 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:115px;
  width:510px;
  height:35px;
}
#u139_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:162px;
  width:510px;
  height:35px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:267px;
  width:510px;
  height:35px;
}
#u141_input {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  height:35px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:124px;
  top:218px;
  width:156px;
  height:30px;
}
#u142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#CCCCCC;
}
#u142_input:disabled {
  color:grayText;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:218px;
  width:90px;
  height:30px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#CCCCCC;
}
#u143_input:disabled {
  color:grayText;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:218px;
  width:90px;
  height:30px;
}
#u144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-decoration:none;
  color:#CCCCCC;
}
#u144_input:disabled {
  color:grayText;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:362px;
  width:100px;
  height:16px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:362px;
  width:100px;
  height:16px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u147_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
